!!! 5
%html{:lang => "es"}
  %head
    = render '/main-parts/head.haml'
  %body{:class=>@item[:js]}
    = render '/main-parts/header.haml'

    %main#main
      = yield

    = render '/main-parts/footer.haml'
    = render '/main-parts/scripts.haml'
